[Unit]
Description=rosbag_rec
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=blazu
WorkingDirectory=/home/blazu
ExecStart=/bin/bash -c 'source /opt/ros/humble/setup.bash && source /home/putm/putm_ws/install/setup.bash && /usr/local/bin/rosbag.sh' #to sprawdzic jeszcze dokładnie
Restart=on-failure.
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target


ten skrypt tylko podmienic sciezki nie musze sourcowac bo zrobie to w skrypcie
[Unit]
Description=ROS2 Bag Recorder Service
After=network.target

[Service]
Type=simple
User=blazu
ExecStart=/home/blazu/Desktop/TestBashScript/rosbag.sh
Restart=on-failure
WorkingDirectory=/home/blazu/Desktop/TestBashScript
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target


